html, body {
  font-family: sans-serif;
  margin: 0;
  body: 0;
}

header {
  margin-top: -20px;
}

h1 a {
  text-decoration: none;
  color: black;
  display: inline-block;
  height: 78px;
  padding-left: 100px;
  background: no-repeat url('../images/header_ca_gov.png');
}

h1 span {
  display: block;
  font-size: 28px;
}

h1 span:first-child {
  font-size: 12px;
}

.page-wrapper, .links-wrapper {
  width: 1080px;
  margin: auto;
}

.page-wrapper {
  margin-top: 20px;
}

.links-wrapper {
  display: flex;
  justify-content: flex-end;
}

.top-corner-links ul {
	display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.top-corner-links ul li {
		flex-direction: row;
    padding: 0;
		padding-left: 15px;
    margin-top: 5px;
}

.top-corner-links ul li a {
  background-color: #fbad23;
	padding: 5px;
	color: #fff;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	text-decoration: none;
}

.top-corner-links ul li a:hover {
  background-color: black;
}
